@page
@model LibrarySystem.Pages.BorrowedBooks.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BorrowedBook[0].Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowedBook[0].Member)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowedBook[0].BorrowedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowedBook[0].ReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowedBook[0].ActualReturnDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BorrowedBook) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BorrowedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActualReturnDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BorrowedBookId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BorrowedBookId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BorrowedBookId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
