@page
@model LibrarySystem.Pages.BookCopies.DeleteModel

@{
    ViewData["Title"] = "Remove a book copy";
}

    <h1>Remove a book copy</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BookCopy</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookCopy.Book)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookCopy.Book.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookCopy.BookCopyId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookCopy.BookCopyId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookCopy.DateOfArrival)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookCopy.DateOfArrival)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookCopy.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookCopy.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookCopy.BookAisleLocation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookCopy.BookAisleLocation)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="BookCopy.BookCopyId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
