@page
@model LibrarySystem.Pages.BookCopies.DetailsModel

@{
    ViewData["Title"] = "Details of book copies";
}

<h1>Details of book copies</h1>

<div>
    <h4>Book Copy</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookCopy.Book)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookCopy.Book.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookCopy.BookCopyId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookCopy.BookCopyId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookCopy.DateOfArrival)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookCopy.DateOfArrival)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookCopy.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookCopy.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookCopy.BookAisleLocation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookCopy.BookAisleLocation)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.BookCopy.BookCopyId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
