@page
@model CoreCrud.Pages.Destinations.IndexModel

@{
    ViewData["Title"] = "Destinations";
}

    <h1>List of Destinations</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Destination[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination[0].ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination[0].TravelDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination[0].IsFlightServiceAvailable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination[0].TotalFair)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination[0].Location)
            </th>
            <th>
                Budget Rating
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Destination) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TravelDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsFlightServiceAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalFair)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.Name)
            </td>
            @if (item.Rating == 1)
            {
                <td>
                    <span class="badge badge-pill badge-danger">Exorbitant</span>
                </td>
            }
            @if (@item.Rating == 2)
            {
                <td>
                    <span class="badge badge-pill badge-warning">Expensive</span>
                </td>
            }
            @if (@item.Rating == 3)
            {
                <td>
                    <span class="badge badge-pill badge-dark">Reasonable</span>
                </td>
            }
            @if (@item.Rating == 4)
            {
                <td>
                    <span class="badge badge-pill badge-primary">Fair Deal</span>
                </td>
            }
            @if (@item.Rating == 5)
            {
                <td>
                    <span class="badge badge-pill badge-success">Economical</span>
                </td>
            }
            @if (@item.Rating == 0)
            {
                <td>
                    <span class="badge badge-pill badge-info">Unknown</span>
                </td>
            }
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
